@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquot {
  margin: 0;
  padding: 0;
}

.page {
  font-family: "Inter", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  background-color: #1e1e1e;
  line-height: normal;
  min-width: 320px;
  max-width: 360px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.content {
  flex: 1 1 auto;
}
.content-section_theme_dark {
  background: var(--black-bg, #131313);
  color: var(--text-gray, #ccc);
}
.content-section_theme_bright {
  background: var(--yellow-bg, #fee42a);
  color: var(--black-bg, #131313);
}
.header {
  margin: 0 auto;
  padding: 24px 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--black-bg, #131313);
}

.header__logo {
  text-decoration: none;
}

.header__logo-image {
  object-fit: cover;
  width: 78.45px;
}

.header__menu {
  margin: 0;
}
.header__menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__menu-item {
  text-decoration: none;
  margin: 0;
  padding: 0;
  line-height: 20px;
}

.header__menu-item_active .header__menu-link {
  text-decoration-line: underline;
  text-underline-offset: 2px;
}
.header__menu-link {
  color: var(--text-light, #f5f5f5);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px;
  text-decoration: none;
}

.content__section {
  margin: 0 auto;
  display: flex;
}

.cover {
  padding: 7px 20px 5px;
  background-image: url(../images/ellipse.svg), url(../images/polygon.svg);
  background-repeat: no-repeat;
  background-size: 120px 120px, 120px 128px;
  background-position: bottom 0 left 20px, bottom 70px right -26px;
}
.cover__title {
  color: #fff;
  font-family: "EB Garamond", serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.accent-span {
  margin: 0;
  padding: 0;
}
.text-center {
  align-self: center;
}
.text-right {
  align-self: flex-end;
}

.intro {
  padding: 30px 20px 37px;
  flex-direction: column;
  gap: 24px;
}

.intro__heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: start;
  gap: 10px;
}
.intro__title {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px;
  overflow-wrap: break-word;
}
.intro__date {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px;
  white-space: nowrap;
}
.intro__main-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #f5f5f5;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px;
  overflow-wrap: break-word;
}

.reasons {
  flex-direction: column;
  padding: 40px 20px;
  gap: 32px;
}
.how-to {
  flex-direction: column;
  padding: 40px 20px 60px;
  gap: 32px;
}
.content-section__subtitle {
  display: flex;
  flex-direction: column;
  font-family: "EB Garamond", serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%; /* 32.2px */
}

.content-section__introduction {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.content-section__list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content-section__list-item {
  box-sizing: border-box;
  margin-left: 16px;
  padding: 0;
  list-style-position: outside;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px;
}

.content-section__list-accent {
  font-weight: 700;
}

.cards-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  list-style: none;
}

.card {
  border-radius: 30px;
  margin: 0;
  padding: 20px;
}

.card_theme_dark {
  background: var(--gray-bg, #343434);
  color: #f5f5f5;
}

.card_theme_bright {
  background: var(--yellow-bg, #fee42a);
  color: var(--black-bg, #131313);
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card__author {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.card__author-photo {
  object-fit: cover;
  width: 100px;
  aspect-ratio: 1 / 1;
}
.card__author-name {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 135%;
}

.card__title {
  font-family: "EB Garamond", serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 135%;
}

.card__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px;
}

.footer {
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  border-top: 1px solid var(--yellow-bg, #fee42a);
  background: var(--black-bg, #131313);
}
.footer__copy {
  color: #f5f5f5;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
}
.footer__links {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 16px;
  list-style: none;
}
.footer__link {
  margin: 0;
  padding: 0;
  color: #f5f5f5;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  text-decoration: none;
}
